<!doctype html>
<html lang="en">
<%- include('includes/head'); %>

  <body>

    <%- include('includes/nav'); %>
      <!-- Optional JavaScript; choose one of the two! -->
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <%- include('includes/footer'); %>

  </body>

</html>